@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = @_localizer["PageTitle"];
}

@model Mathance.Models.Post

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

<h1 class="display-4">@_localizer["EditTask"]</h1>
<div class="container">
<form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="EditPost" autocomplete="off" asp-route-name="@ViewBag.Name">
    <div class="container">
        <div class="form-group">        
            <label for="topic">@_localizer["Topic"]</label>
            <select class="form-select" placeholder="Topic" name="topic" id="topic" value="@Model.Topic" required>
              <option>@_localizer["HighMath"]</option>
              <option>@_localizer["MathAnal"]</option>
              <option>@_localizer["Algebra"]</option>
              <option>@_localizer["Geometry"]</option>
              <option>@_localizer["Programming"]</option>
            </select>
        </div>
        
        <div class="form-group">        
            <label for="title">@_localizer["Title"]</label>
            <input type="text" class="form-control" placeholder="Title" name="title" id="title" value="@Model.Title" required>
        </div>

        <div class="form-group">        
            <label for="text">@_localizer["Text"]</label>
            <input type="text" class="form-control" placeholder="Text" name="text" id="text" value="@Model.Text" required>
        </div>

        <div class="form-group">
            @_localizer["CurrentImages"]
            @foreach(var i in @Model.Images)
                {
                    <div class="nav-item img-small" data-toggle="modal"><img src="@i.Link" class="img-fluid"></div>
                }
        </div>
        <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle"></i> @_localizer["ImagesWarning"] <b>@_localizer["All"]</b> @_localizer["OnceAgain"].
        </div>
        <div class="form-group">
            <div class="custom-file mt-1">
                <input name="images" type="file" id="inputGroupFile01" accept=".jpg, .png, .jpeg" multiple/>
            </div>
        </div>
        
        <div class="form-group">
        @_localizer["CurrentImages"]
        @foreach(var t in Model.Tags)
            {
                <a class='badge badge-light'>@t.Name</a>
            }
        </div>
        <div class="form-group">        
            <label>@_localizer["NewTags"]</label>
            <input type="text" id="tag0" class="form-control" placeholder="@_localizer["Tag"]" name="tags" autocomplete="off">
            <div id="inputTag"></div>
            <button type="button" id="add-tag" class="btn btn-red-light-alt" onclick="addTagInput()">@_localizer["OneMoreTag"]</button>
        </div>

        <div class="form-group">
        @_localizer["CurrentAnswers"]
        @foreach(var a in Model.RightAnswers)
            {
                <a class='badge badge-light'>@a.Data</a>
            }
        </div>
         <div class="form-group">        
            <label>@_localizer["PossibleAnswers"]</label>
            <input id="answer" type="text" class="form-control" placeholder="@_localizer["Answer"]" name="rightanswers">
            <div id="inputAnswer0"></div>
            <button class="btn btn-red-light-alt" onclick="addAnswerInput()">@_localizer["OneMoreAnswer"]</button>
        </div>
        
        <div class="form-group text-right">
            <input type="submit" class="btn btn-red-light" value="@_localizer["Save"]"/>
        </div>
    </div>
</form>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0-rc.2/jquery-ui.min.js" ></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/fileinput.min.js"></script>
<script> 
    let tags = $.ajax('/Posts/GetTagsList', {
        contentType: "application/json",
            dataType: "json",
            type: "GET",
            global: false,
            async:false,
            success: function(response) {
                return response;
        },
        error: function(data) {
            alert(data);
        }
    }).responseText;
    
    $("#tag0").autocomplete({ source: JSON.parse(tags) });

    let iteratorForTags = 0;
    $("#add-tag").click(() => {
        let el = $('<input type="text" class="form-control mt-2" id="tag'+ (iteratorForTags + 1) +'" placeholder="Tag" name="tags" required>')
            .on('click', (function(e) { 
                $(this).autocomplete({ source: JSON.parse(tags) })
            }));
        $("#inputTag").append(el);
        iteratorForTags++;
    });
    
    let iteratorForAnswers = 0; 
    function addAnswerInput() {
        document.getElementById('inputAnswer' + iteratorForAnswers).innerHTML = 
            '<input type="text" class="form-control mt-2" id="answer" placeholder="Your answer" name="rightanswers" required>' +
            '<div id="inputAnswer' + (iteratorForAnswers + 1) + '"></div>';
        iteratorForAnswers++;
    }

    $("#inputGroupFile01").fileinput({
        allowedFileTypes: ['image'],
        allowedFileExtensions : ['jpg', 'jpeg', 'png'],
        showZoom: false,
        uploadAsync: false,
        dropZoneEnabled: true,
        showUpload: false,
        showRemove: true,
        showPreview: true,
        showBrowse: true,
        showCaption: false,
        showUploadStats: false,
        showCancel: false,
        showClose:false,
        browseOnZoneClick: true
    });
</script>