@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@model Mathance.Models.Post


<div class="post-container">
    <div class="post-header">
        <div class="post-title d-flex flex-row">
         <h1>@Model.Title</h1> 
         <div class="rating" id="@Model.Id">
             @for(int i = 1; i <= @Model.Rating; i++)
             {
                <a href=~/css/ id="@i" class="star star-filled bi bi-star-fill"></a>
             }
             @for(int i = @Model.Rating + 1; i <= 5; i++)
             {
                <a href=~/css/ id="@i" class="star bi bi-star-fill"></a>
             }
         </div>
          </div>
            @if(ViewBag.isSolved)
            {
             <button type="button" class="btn btn-green-light float-right">
                    <i class="bi bi-check2"></i> @_localizer["Solved"]
                </button>
            } 
            else if(ViewBag.currentUser == null) {
                <button type="button" class="btn btn-red-light-secondary float-right" data-toggle="modal" data-target="#answerSubmit" disabled>
                    <i class="bi bi-lightbulb"></i> @_localizer["Solve"]
                </button>
            }
            else
            {
                <button type="button" class="btn btn-red-light float-right" data-toggle="modal" data-target="#answerSubmit">
                    <i class="bi bi-lightbulb"></i> @_localizer["Solve"]
                </button>
            }
            <div class="modal fade" id="answerSubmit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                             <h5 class="modal-title" id="exampleModalLabel">@_localizer["SubmitAnswer"]</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                             </button>
                        </div>
                        <form method="post" asp-controller="Posts" asp-action="SubmitAnswer" asp-route-id=@Model.Id>
                        <div class="modal-body">
                        <input type="text" class="form-control" placeholder="@_localizer["YourAnswer"]"/ name="answer">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@_localizer["Close"]</button>
                            <button type="submit" class="btn btn-red-light-secondary">@_localizer["Check"]</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
         <p>@_localizer["PostedOn"] @Model.PostedDate.ToString("HH:mm MM.dd.yyyy") @_localizer["By"] <a href="~/Profile?name=@Model.Author.UserName">@Model.Author.UserName</a></p>
         <p>@_localizer["Topic"] <a href="#">@Model.Topic</a></p>
    </div>
    <div class="post-body">
         <div id="text">@Model.Text</div>
         <ul class="navbar-nav flex-grow-1 post-images">
            @foreach(var i in Model.Images)
            {
                <li class="nav-item img-small" data-toggle="modal" data-target="#imgFullSize_@i.Id"><img src="@i.Link" class="img-fluid"></li>
                <div class="modal fade" id="imgFullSize_@i.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <img src="@i.Link" class="img-fluid">
                        </div>
                    </div>
                </div>
            }
        </ul>
        <p>@_localizer["Tags"] 
            @foreach(var t in Model.Tags)
            {
                <a class='badge badge-light'>@t.Name</a>
            }
        </p>
    </div>
    </div>
    <hr />
    <div class="post-comments">
    @if(ViewBag.currentUser == null)
    {
        <div class="text-center">
            <h6 class="font-weight-light">@_localizer["Please"] <a href="~/Identity/Account/Login">@_localizer["LogIn"]</a> @_localizer["ToLeave"]</h6>
        </div>
        <hr/>
    } 
    else 
    {
    <form method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control comment-input" id="comment-input" name="@ViewBag.CurrentUser.UserName" placeholder="@_localizer["LeaveComm"]" aria-describedby="button-addon2" name="text">
                <button type="submit" class="btn btn-red-light" id="button-addon2" name="@Model.Id" href="#">@_localizer["Submit"]</button>
        </div>
        </form>
    }
    <div class="comments" id="@Model.Id">
    @if(Model.Comments.Count > 0)
    {
        @foreach(var c in Model.Comments)
        {
            <div class="comment" id="@c.Id">
                <div>
                       <b>@c.Author.UserName </b> 
                <i class="font-weight-light mt-1">@_localizer["On"] @c.PostedTime.ToString("HH:mm MM.dd.yy")</i></div>
            <div>@c.Text</div>
                    @if (@ViewBag.CurrentUser != null)
                    {
                        @if ((c.Likes.Select(a => a.User).ToList()).Contains(ViewBag.CurrentUser))
                        {
                            <a id="comment-like-@c.Id" class="comment-like bi bi-chevron-double-up" name="@ViewBag.CurrentUser.UserName" href="#"></a>
                        } else
                        {
                            <a id="comment-like-@c.Id" class="comment-like bi bi-chevron-up" name="@ViewBag.CurrentUser.UserName" href="#"></a>
                        }
                    }
                    else
                    {
                           <a class="comment-like bi bi-chevron-up"></a>
                    }
            <label id="likes-count-@c.Id">@c.Likes.Count</label>
                    @if (@ViewBag.CurrentUser != null)
                    {
                        @if ((c.Dislikes.Select(a => a.User).ToList()).Contains(ViewBag.CurrentUser))
                        {
                            <a id="comment-dislike-@c.Id" class="comment-dislike bi bi-chevron-double-down" name="@ViewBag.CurrentUser.UserName" href="#"></a>
                        } else
                        {
                            <a id="comment-dislike-@c.Id" class="comment-dislike bi bi-chevron-down" name="@ViewBag.CurrentUser.UserName" href="#"></a>
                        }
                    }
                    else
                    {
                           <a class="comment-dislike bi bi-chevron-down"></a>
                    }
            <label id="dislikes-count-@c.Id">@c.Dislikes.Count</label>
            </div>
            <hr/>
        }
    }
    </div>
</div>
</div>

@if (@ViewBag.CurrentUser != null)
{
    <script src="~/js/comments.js"></script>
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/3.0.7/marked.min.js"></script>
<script>
    document.getElementById('text').innerHTML = marked("@Model.Text");
</script>
